
<h3>Generic</h3>
<form fsForm>
  <fs-credit-card
    (changed)="changed($event)"
    [creditCardConfig]="creditCardConfig"
    [creditCard]="creditCard"
    [address]="address">
  </fs-credit-card>
  <button mat-raised-button>Submit</button>
</form>


<h3>Stripe</h3>
<form fsForm [submit]="submitStripe">
  <fs-credit-card-stripe
    (changed)="changed($event)"
    [config]="creditCardConfig"
    [creditCard]="creditCard">
  </fs-credit-card-stripe>
  <button mat-raised-button>Submit</button>
</form>