<fs-examples [config]="config">
  <fs-example name="Display of Payment Method" componentName="payment-method-display">
    <payment-method-display></payment-method-display>
  </fs-example>

  <fs-example name="Credit Card" componentName="kitchen-sink">
    <kitchen-sink></kitchen-sink>
  </fs-example>

  <fs-example name="Bank Account Canada" componentName="bank-account">
    <bank-account></bank-account>
  </fs-example>

  <fs-example name="Bank Account US" componentName="bank-account">
    <bank-account-us></bank-account-us>
  </fs-example>
</fs-examples>
