<fs-examples [config]="config">
  <fs-example
      name="Display of Payment Method"
      componentName="payment-method-display">
    <payment-method-display></payment-method-display>
  </fs-example>
  <fs-example
      name="Credit Card"
      componentName="credit-card">
    <app-credit-card></app-credit-card>
  </fs-example>
  <fs-example
      name="Stripe Credit Card"
      componentName="stripe-credit-card">
    <app-stripe-credit-card></app-stripe-credit-card>
  </fs-example>
  <fs-example
      name="Square Credit Card"
      componentName="square-credit-card">
    <app-square-credit-card></app-square-credit-card>
  </fs-example>
  <fs-example
      name="Bank Account Canada"
      componentName="bank-account">
    <bank-account></bank-account>
  </fs-example>
  <fs-example
      name="Bank Account US"
      componentName="bank-account">
    <bank-account-us></bank-account-us>
  </fs-example>
</fs-examples>