<div class="card">
  <mat-form-field 
        [ngClass]="{ 
          readonly: creditCardConfig.name.readonly, 
          'has-hint': creditCardConfig.name.hint
        }"
        [appearance]="creditCardConfig.appearance">
      <mat-label>Name on Card</mat-label>
    <input
      matInput
      [required]="!creditCardConfig.name.readonly"
      name="name"
      (keyup)="_changed()"
      [(ngModel)]="creditCard.name"
      [disabled]="creditCardConfig.name.readonly">
    <mat-hint *ngIf="creditCardConfig.name.hint">{{ creditCardConfig.name.hint }}</mat-hint>
  </mat-form-field>

  <mat-form-field 
        [appearance]="creditCardConfig.appearance"
        [ngClass]="{ 
          readonly: creditCardConfig.number.readonly, 
          'has-hint': creditCardConfig.number.hint
        }">
      <mat-label>Card Number</mat-label>
    <input
        #cardNumberEl
        matInput
        [required]="!creditCardConfig.number.readonly"
        name="cardNumber"
        [(ngModel)]="cardNumber"
        [disabled]="creditCardConfig.number.readonly">
    <mat-hint *ngIf="creditCardConfig.number.hint">{{ creditCardConfig.number.hint }}</mat-hint>
    <div 
        matSuffix  
        *ngIf="creditCard.type">
      <img        
        class="logo"
        [src]="cardImages[creditCard.type]" [alt]="creditCard.type">
    </div>
  </mat-form-field>

  <div class="row">
    <ng-container *ngIf="creditCardConfig.expiry.readonly">
      <mat-form-field 
            [appearance]="creditCardConfig.appearance"
            class="expiry-readonly readonly">
          <mat-label>Expiry</mat-label>
        <input
          matInput
          [value]="creditCard.expiryMonth + '/' + creditCard.expiryYear"
          name="month"
          [disabled]="true">
      </mat-form-field>
    </ng-container>
    <ng-container *ngIf="!creditCardConfig.expiry.readonly">
      <mat-form-field 
            [appearance]="creditCardConfig.appearance"
            class="expiry-date expiry-readonly readonly"
            [ngClass]="{ empty: !expiry }">
          <mat-label>Expiry Date</mat-label>
        <input
          #cardExpiryEl
          matInput
          required
          [(ngModel)]="expiry"
          (ngModelChange)="expiryChange($event)"
          fsMask
          [fsFormFunction]="expiryValidate"
          [mask]="'MM / YY'"
          [blocks]="expiryBlocks"
          [lazy]="true"
          (focus)="expiryFocus()"
          (blur)="expiryBlur()"
          name="expiry">
      </mat-form-field>
    </ng-container>

    <mat-form-field 
        [appearance]="creditCardConfig.appearance"
        class="cvv"
        [ngClass]="{ readonly: creditCardConfig.cvv.readonly }">
        <mat-label>{{verificationCode}}</mat-label>
      <input
        matInput
        [required]="!creditCardConfig.cvv.readonly"
        name="cvv"
        [disabled]="creditCardConfig.number.readonly"
        [fsFormFunction]="validateCVV"
        [(ngModel)]="creditCard.cvv"
        (keyup)="_changed()">
    </mat-form-field>
  </div>
  <ng-container *ngIf="creditCardConfig.showAddress !== false">
    <fs-address
      [(address)]="address"
      [config]="addressConfig"
      [excludeCountries]="excludeCountries"
      (addressChange)="_changed()">
    </fs-address>
  </ng-container>
</div>
