.card {
  display: flex;
  flex-direction: column;
}

.logo {
  height: 30px;
  border-radius: 3px;
  margin-bottom: -3px;
}

:host ::ng-deep {
  .row {
    display: flex;
    flex-direction: row;
    gap: 5px;

    .mat-form-field {
      width: 100%;

      .mat-form-field-infix {
        width: auto;
      }

      &:not(:last-child) {
        margin-right: 10px;
      }
    }
  }

  .cvv .mat-form-field-label {
    text-transform: uppercase;
  }

  .mat-form-field.readonly {
    .mat-form-field-underline {
      background-color: transparent;
    }
  }

  .expiry-readonly {
    .mat-form-field-infix {
      display: flex;
    }
  }
}

.has-hint {
  margin-bottom: 1.25em;
}
