<form
    fsForm
    [submit]="submit">
  <fs-stripe-credit-card
    (changed)="changed($event)"
    [config]="creditCardConfig"
    [(ngModel)]="paymentMethodCreditCard"
    name="paymentMethodCreditCard">
  </fs-stripe-credit-card>
  <p>
    {{ paymentMethodCreditCard | json }}
  </p>
  <button
      mat-flat-button
      color="primary"
      type="submit">
    Submit
  </button>
</form>
@if (expressCheckoutSupported) {
  <p>
    or
  </p>
}
<fs-stripe-express-checkout-element
  [applePayConfig]="{ buttonType: 'plain' }"
  [googlePayConfig]="{ buttonType: 'plain' }"
  [disabled]="false"
  (ready)="expressCheckoutSupported = $event.applePay || $event.googlePay"
  (confirm)="expressPaymentMethodCreditCard=$event">
</fs-stripe-express-checkout-element>
{{ expressPaymentMethodCreditCard | json }}