.row {
  display: flex;
  align-items: center;

  .image {
    height: 30px;
    margin-right: 8px;
  }

  .number {
    line-height: normal;
    .asterisk {
      font-weight: bold;
      letter-spacing: 3px;
    }
  }

  .expiry {
    line-height: normal;
    font-size: small;
    color: rgba(0,0,0,.54);
    margin-top: 2px;

    &.expired {
      color: #EB3824;
    }
  }
}
