<h4>Credit Cards: </h4>
<div>
  <fs-payment-method-credit-card [type]="'visa'"
                             [number]="42"
                             [expiryMonth]="10"
                             [expiryYear]="2020">
  </fs-payment-method-credit-card>
</div>


<div>
  <fs-payment-method-credit-card [type]="'mastercard'"
                             [number]="5123"
                             [expiryMonth]="12"
                             [expiryYear]="2025">
  </fs-payment-method-credit-card>
</div>

<h4>Bank Account: </h4>
<div>
  <fs-payment-method-bank [number]="8512">
  </fs-payment-method-bank>
</div>
