<h4>Credit Cards </h4>
<div>
  <fs-payment-method-credit-card 
    [type]="'visa'"
    [number]="42"
    [expiryMonth]="10"
    [expiryYear]="2020">
  </fs-payment-method-credit-card>
</div>
<br>
<div>
  <fs-payment-method-credit-card 
    [type]="'mastercard'"
    [number]="5123"
    [expiryMonth]="12"
    [expiryYear]="2022">
  </fs-payment-method-credit-card>
</div>
<br>
<div>
  <fs-payment-method-credit-card 
    [type]="'american express'"
    [number]="0002"
    [expiryMonth]="3"
    [expiryYear]="2030">
  </fs-payment-method-credit-card>
</div>
<br>
<div>
  <fs-payment-method-credit-card 
    [type]="null"
    [number]="0002"
    [expiryMonth]="3"
    [expiryYear]="2030">
  </fs-payment-method-credit-card>
</div>

<br><br>
<h4>Bank Account </h4>
<div>
  <fs-payment-method-bank [number]="8512">
  </fs-payment-method-bank>
</div>
