.column {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.cheque {

  display: flex;
  justify-content: center;

  img {
    max-width: 100%;
    min-width: 500px;
  }
}

fs-label {
  display: inline;
  margin: 10px 0;
}

.branch-number {
  color: #0e2431;
  ::ng-deep {
    .mat-form-field-infix, .mat-form-field-label {
      color: #0e2431;
    }
  }
}

.institution-number {
  color: #8fa9c1;
  ::ng-deep {
    .mat-form-field-infix, .mat-form-field-label {
      color: #8fa9c1;
    }
  }
}

.account-number {
  color: #c18f8c;
  ::ng-deep {
    .mat-form-field-infix, .mat-form-field-label {
      color: #c18f8c;
    }
  }
}

.address-info {
  color: #757575;
}
