
.column {
  display: flex;
  flex-direction: column;
}

.cheque {

  display: flex;
  justify-content: center;
  padding-bottom: 15px;

  img {
    max-width: 100%;
  }
}

.branch-number {
  color: #68214B;
  ::ng-deep {
    .mat-form-field-infix, .mat-form-field-label {
      color: #68214B;
    }
  }
}

.institution-number {
  color: #5E6F76;
  ::ng-deep {
    .mat-form-field-infix, .mat-form-field-label {
      color: #5E6F76;
    }
  }
}

.account-number {
  color: #746B30;
  ::ng-deep {
    .mat-form-field-infix, .mat-form-field-label {
      color: #746B30;
    }
  }
}