<div class="column">
  <div class="cheque">
    @switch (currency) {
      @case ('CAD') {
        <img src="/assets/payment/cheque-ca.svg">
      }
      @case ('USD') {
        <img src="/assets/payment/cheque-us.svg">
      }
    }
  </div>
  <fs-label>
    How to find your&nbsp;
    <span class="branch-number">
      Branch
    </span>
    @if (currency === 'CAD') {
      ,&nbsp;
      <span class="institution-number">
        Institution
      </span>
    }
    &nbsp;&&nbsp;
    <span class="account-number">
      Account
    </span>
    &nbsp;
    numbers on a Cheque
  </fs-label>
  @switch (currency) {
    @case ('CAD') {
      @if (!readonly) {
        <mat-form-field class="branch-number form-field-s">
          <mat-label>
            {{ branchCadLabel }}
          </mat-label>
          <input
            #branchEl
            matInput
            [ngModel]="_bankAccount.branch"
            [fsFormFunction]="validateBranch"
            name="branch"
            required>
          <mat-hint>
            Also known as "Transit Number"
          </mat-hint>
        </mat-form-field>
        <mat-form-field class="institution-number">
          <mat-label>
            {{ institutionLabel }}
          </mat-label>
          <input
            #institutionEl
            matInput
            [ngModel]="_bankAccount.institution"
            [fsFormFunction]="validateInstitution"
            name="institution"
            required>
        </mat-form-field>
      }
      <mat-form-field class="account-number">
        <mat-label>
          {{ accountCadLabel }}
        </mat-label>
        <input
          #accountEl
          matInput
          [ngModel]="_bankAccount.account"
          [fsFormFunction]="validateAccount"
          [disabled]="readonly"
          name="account"
          required>
      </mat-form-field>
    }
    @case ('USD') {
      @if (!readonly) {
        <mat-form-field class="branch-number">
          <mat-label>
            {{ branchUsdLabel }}
          </mat-label>
          <input
            #branchEl
            matInput
            [ngModel]="_bankAccount.branch"
            [fsFormFunction]="validateBranch"
            name="branch"
            required>
        </mat-form-field>
      }
      <mat-form-field class="account-number">
        <mat-label>
          {{ accountUsdLabel }}
        </mat-label>
        <input
          #accountEl
          matInput
          [ngModel]="_bankAccount.account"
          [fsFormFunction]="validateAccount"
          [disabled]="readonly"
          name="account"
          required>
      </mat-form-field>
    }
  }
  @if (showAccountType && accountTypes?.length) {
    <mat-form-field>
      <mat-label>
        {{ accountTypeLabel }}
      </mat-label>
      <mat-select
        [(ngModel)]="_bankAccount.accountType"
        [disabled]="readonly"
        (ngModelChange)="valueChanged()"
        name="account-type"
        required>
        @for (type of accountTypes; track type) {
          <mat-option
            [value]="type.value">
            {{ type.name }}
          </mat-option>
        }
      </mat-select>
    </mat-form-field>
  }
  <ng-container>
    <fs-address
      [(address)]="_bankAccount.address"
      [config]="configAddress"
      [excludeCountries]="excludeCountries"
      (addressChange)="valueChanged()">
    </fs-address>
    <small class="address-info">
      This address should match your home address as per your bank account statement
    </small>
  </ng-container>
</div>