<form
    id="helcimForm"
    method="post">
  <div #response></div>
  <input
    type="text"
    id="token"
    [value]="helcimToken">
  <div>
    <label for="cardNumber">
      Card Number
    </label>
    <input
      type="text"
      value="4124939999999990"
      id="cardNumber">
  </div>
  <div>
    <label for="cardExpiry">
      Card Expiry (MMYY)
    </label>
    <input
      type="text"
      value="0128"
      id="cardExpiry">
  </div>
  <div>
    <label for="cardCVV">
      CVV
    </label>
    <input
      type="text"
      value="100"
      id="cardCVV">
  </div>
  <div>
    <label for="cardHolderName">
      Cardholder Name
    </label>
    <input
      type="text"
      id="cardHolderName">
  </div>
  <button
      type="button"
      (click)="submit()">
    Submit
  </button>
  <div id="helcimResults"></div>
</form>